{% extends 'base.html.twig' %}

{% block title %}Hello TransportController!{% endblock %}

{% block body %}

<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Another action</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
        </div>
    </div>

    <p class="text-muted font-14 m-b-20">
     
    <a href="{{ path('voiture_index') }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Liste des voitures</button>

    </a>
   <a href="{{ path('chauffeur_index') }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Liste des chauffeurs</button>

    </a>
<a href="{{ path('reservation_voiture_index') }}">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Liste des réservations</button>

    </a>

{% endblock %}
