{% extends "base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">
                    <img src="assets/images/gallery/13.jpg" alt="ACME logo" height="750" width="8000">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
