{% extends 'base_login.html.twig' %}

{% block title %}
    <title>Learn4u-Reset-Password</title>
{% endblock %}

{% block form %}
    <div class="login100-form validate-form">
        <h1>Reset your password</h1>
        <div>{{ form(resetForm) }}
        </div>
    </div>
{% endblock %}
