<form method="post" action="{{ path('reservation_voiture_delete', {'idRv': reservation_voiture.idRv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_voiture.idRv) }}">
    <button class="btn">Delete</button>
</form>
